/*
Farbschema:
    #FFC759     Xanthous
    #F4F89E     Mindaro
    #FF8C42     Pumpkin
    #F24333     Vermilion
    #261447     Russian Violet
*/
*{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #F4F89E;
    font-family:sans-serif;
}

main
{
    margin-left: 50px;
    margin-right: 50px;
}

footer
{
    display: flex;
    justify-content: center;
}

table
{
    background-color: #F24333;
    border: solid, #261447, 3px;
    margin-bottom: 10px;
    margin-left: 20px;
}

li
{
    margin-left: 50px;
    margin-bottom: 10px;
}

h1
{
    margin-bottom: 10px;
    margin-top: 20px;
}

h2
{
    margin-bottom: 10px;
}

h4
{
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: normal;
}

blockquote
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

img
{
    margin: 20px;
}

.Head
{
    background-color: #FFC759;
    padding: 20px;
}

.mainnav
{
    display: flex;
    justify-content: flex-start;
}

.mainnav li
{
    list-style: none;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo
{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 400px;
}

.projects
{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects table
{
    background-color: #F4F89E;
    width: 350px;
    border: none;
}

.project-link
{
    border-top: 1px solid #261447; 
    border-bottom: 1px solid #261447;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* unvisited link */
a:link 
{
    color: #505085;
}
  
/* visited link */
a:visited 
{
    color: #500000;
}
  
/* mouse over link */
a:hover 
{
    color: #3F88C5;
    font-weight: bold;
}
  
/* selected link */
a:active 
{
    color: #0000FF;
}

/* Überschrift Navigation*/
.navhead
{
    background-color: #F24333;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
}

/* Dropdown Button */
.dropbtn 
{
    background-color: #FF8C42;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F24333;}

hr
{
    background-color: #261447;
    border: #261447;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pic-des
{
    margin-bottom: 20px;
    margin-left: 40px;
}

.info-idx
{
    margin-right: 30px;
    float: right;
    border-collapse: collapse;
    width: 310px;
}

.info-idx th
{
    background-color: #F24333;
    color: #FFC759;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-idx td
{
    background-color: #FF8C42;
    padding: 5px;
    text-align: start;
}

.song-cover-art
{
    width: 300px;
    margin: 0;
    padding: 0;
}

.lyrics th
{
    background-color: #F24333;
    color: #FFC759;
}

.lyrics td
{
    background-color: #FF8C42;
    padding: 5px;
    vertical-align: top;
}

.song-description
{
    width: 800px;
}

.backstory
{
    width: 950px;
}

.trigger-warning
{
    width: 600px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #FF8C42;
    border: 5px solid #F24333;
    font-size: large;
}

.team-list
{
    background-color: #FF8C42;
    border: solid, #261447, 3px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}

.team-list td
{
    background-color: #FF8C42;
    max-width: 400px;
    min-width: 200px;
    padding: 5px;
}

.team-list th
{
    background-color: #F24333;
    padding: 5px;
}