/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 101vh;
  background-color: #0B192C;
}

/* Title Text Styling */
.title-text {
  color: #E0E0E0;
  font-family: 'Cascadia Code', monospace;
  align-self: flex-start;
  padding-top: 35vh;
}

#hero h1 {
  font-size: 5rem;
  letter-spacing: -0.15rem;
}

#hero h2 {
  font-size: 1.5rem;
  opacity: 45%;
  letter-spacing: -0.05rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

#skills {
  height: 300vh;
  justify-content: center;
  background-color: #1E293B;
  color: white;
  font-size: 2rem;
}

.skill {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  padding: 5px 15px; 
  border: 2px solid black; 
  border-radius: 30px; 
  background-color: lightgray;
}

.title-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E0E0E0;
  font-family: 'Cascadia Code', monospace;
  font-size: 4rem;
  text-align: center; /* Left align text */
  align-self: flex-start; /* Align the text closer to the top */
  padding-top: 13vh; /* Optional: add some space from the top */ 
  padding-bottom: 5vh;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin: 0.3vw;
  margin-top: 0px; /* Moves content slightly upwards */
  margin-bottom: 0px;
  gap: 20px; /* Adjust the gap between the skills */
  font-family: 'Cascadia Code', monospace;
}

.skills-container h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #0B192C;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 2rem;
}